.feet{
    background-color: $colorOne;
    color: $lightWhite;

    .feet__subtitles{
        font-family: $fontParis;
        font-size: 0px;
        color: $lightWhite; 
        padding: 0%;
    }

    ul li {
        list-style: none;
        display: inline-block;
        padding: 10px;
        color: rgb(77, 27, 60);
    }
}

.fa-brands{
   @extend %icons; 

    &:hover{
        background-color: $colorBtn;
        color: $colorOne;
        font-size: small;
    }
}

.cr{
    color: #030303;
    font-size: 13px;
}

